@using CleanArchitecture.Core.Entities
@using CleanArchitecture.Core.Interfaces
@inject IRepository Repository
@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}

<div class="row">
    <div class="col-md-6">
        <h2>Ranchos</h2>

        <ul>
            @foreach (var r in Repository.List<Rancho>())
            {
                <li>@r.Nombre</li>
            }
        </ul>

    </div>
</div>
