@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}

<div class="row">

    
    <div class="center-block" style="padding-top:10%">
        <h2>TEAM MONOBITS</h2>
        <h1>HACKATON 2019</h1>
    </div>

</div>
