<h4>Dashboard</h4>

<div class="row">


    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                Incidencias de plagas en base a Fungicidas aplicados
            </div>
            <div class="card-body">
                <ejs-accumulationchart id="container4">
                    <e-accumulation-series-collection>
                        <e-accumulation-series dataSource="ViewBag.dataSource4" xName="xValue" yName="yValue">
                        </e-accumulation-series>
                    </e-accumulation-series-collection>
                </ejs-accumulationchart>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                Planes de siembra en parcelas
            </div>
            <div class="card-body">
                <ejs-chart id="container3">
                    <e-chart-primaryxaxis valueType="Category">
                    </e-chart-primaryxaxis>
                    <e-series-collection>
                        <e-series name="Planes de siembra en parcelas" xName="xValue" yName="yValue" dataSource="ViewBag.dataSource3"
                                  type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column">
                        </e-series>
                    </e-series-collection>
                </ejs-chart>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                Incidencias de plagas durante el 2018
            </div>
            <div class="card-body">
                <ejs-chart id="container2">
                    <e-chart-primaryxaxis valueType="Category">
                    </e-chart-primaryxaxis>
                    <e-series-collection>
                        <e-series name="Incidencias de plagas durante el 2018" xName="xValue" yName="yValue" dataSource="ViewBag.dataSource2"
                                  type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                        </e-series>
                    </e-series-collection>
                </ejs-chart>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                Estatus de planes de siembra
            </div>
            <div class="card-body">
                <ejs-accumulationchart id="container6">
                    <e-accumulation-series-collection>
                        <e-accumulation-series dataSource="ViewBag.chartData6" xName="xValue" yName="yValue">
                        </e-accumulation-series>
                    </e-accumulation-series-collection>
                </ejs-accumulationchart>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                Productividad de los planes de siembra
            </div>
            <div class="card-body">
                <ejs-chart id="container7">
                    <e-chart-primaryxaxis valueType="Category">
                    </e-chart-primaryxaxis>
                    <e-series-collection>
                        <e-series name="Productividad de los planes de siembra" xName="xValue" yName="yValue" dataSource="ViewBag.chartData7"
                                  type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column">
                        </e-series>
                    </e-series-collection>
                </ejs-chart>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                Cultivos plantados
            </div>
            <div class="card-body">

                <ejs-accumulationchart id="container">
                    <e-accumulation-series-collection>
                        <e-accumulation-series dataSource="ViewBag.dataSource" xName="xValue" yName="yValue">
                        </e-accumulation-series>
                    </e-accumulation-series-collection>
                </ejs-accumulationchart>
            </div>
        </div>
    </div>
</div>
